* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    user-select: none;
    text-align: center;
}

img.card-img-top {
    object-fit: cover;
    cursor: pointer;
    max-height: 150px !important;
    max-width: 150px !important
}

img.card-img-top.girar {
    transform: rotateY(180deg)
}

body {
    min-height: calc(100vh - 20px);
}

main {
    max-width: 100vw;
}

footer {
    height: 20px;
    line-height: 50%;
}

footer a,
footer a:hover {
    color: #fff
}

.btn {
    margin-left: 20px;
    margin-right: 20px
}

#app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.title {
    padding: 5px;
    max-width: 100%;
    max-height: 65px;
}

.logo {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
}

p {
    margin-bottom: 0;
}